/*-- scss:defaults --*/

/*-- scss:rules --*/

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-logo {
    max-height: 48px;
    min-height: 30px;
    object-fit: cover;
    margin-right: 1em;
}

.quarto-dashboard .bslib-value-box {
  .value-box-title {
    color: white !important;
  }
  
  .value-box-value {
    color: white !important;
    font-size: clamp(.1em, 8cqw, 5em) !important;
  }
  
  .value-box-area {
    color: white !important;
    margin-top: -0.75em;
  }
  
  // Target any paragraphs or spans that might be in the box
  p, span {
    color: white !important;
  }
}
